@font-face {
	font-family: 'CSRegular'; /*a name to be used later*/
	src: url('../fonts/cs_regular.ttf'); /*URL to font*/
}

html, body {
	height: 100%;
	font-family: 'Droid Sans Mono', sans-serif;
}

p, h1, h2, h3, h4 {
	font-family: 'Droid Sans Mono', sans-serif;
}

hr {
	border-color: #191919;
}

body {
	background: #2d2d2d;
	color: #f9f9f9;
}
a {
	color: #bcbcbc;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

/* theme */
.btn, .form-control, .alert, .progress, .panel, .list-group, .well, .list-group-item:first-child {
	border-radius: 1px;
	box-shadow: 0 0 0;
}
.btn {
	border-color: transparent;
}
.btn-default, .well {
	background-color: #cccccc;
	border-color: #c0c0c0;
}
.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .btn.active, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #0099CC;
	border-color: transparent;
}
.btn-info, .label-info, .progress-bar-info {
	background-color: #33b5e5;
}
.btn-success, .label-success, .progress-bar-success {
	background-color: #669900;
}
.btn-danger, .label-danger, .progress-bar-danger {
	background-color: #FF4444;
}
.btn-warning, .label-warning, .progress-bar-warning {
	background-color: #FFBB33;
	color: #444444;
}
.nav-tabs > li > a {
	border-radius: 0;
}

h3, h4, h5, .panel {
	color: #555555;
}
.panel hr {
	border-color: #efefef;
}

/* CUSTOM CSS */

#content{
	padding-bottom: 34px;
}

#nav {
	position: fixed;
	bottom: 0px;
}

/* OVERRIDE BOOTSTRAP */
.btn.active{
	background-color: #191919;
	color: white;
}

.row{
	padding-left: 0px;
	padding-right: 0px;
}
